/ml/logs.log
./myFirstCrawl.iml
/myFirstCrawl.iml
/ml/tmp/
/ml/multiple_features_50_steps_10_epochs.h5
/ml/model/
/ml/catboost_info/
/ml/multiple_features_50_steps_10_epochs.h5
/ml/multiple_features_50_steps_100_epochs.h5
/crawl/.ipynb_checkpoints/
